@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap');

:root {
  --soft-red: hsl(10, 79%, 65%);
  --cyan: hsl(186, 34%, 60%);

  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --very-pale-orange: hsl(33, 100%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cream);
  font-family: 'DM sans', 'Courier New', Courier, monospace;
  font-size: 18px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 1rem; */
}

main {
  margin: 1rem;
  max-width: 500px;
  width: 100%;
}

.card {
  /* border: 1px solid black; */
  border-radius: 20px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  & > * {
    padding: 2rem;
    border-radius: 20px;
    overflow: hidden;
  }

  & header {
    background-color: var(--soft-red);

    display: flex;
    justify-content: space-between;
    align-items: center;

    & > div:nth-child(1) {
      color: var(--cream);

      display: flex;
      gap: 0.5rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & > p {
        font-size: 1rem;
        margin-right: auto;
      }

      & span {
        font-size: 1.8rem;
        font-weight: 700;
        color: #fff;
      }
    }
  }

  & figure {
    background-color: #fff;

    & h1 {
      margin-bottom: 4rem;
      text-align: left;
      color: var(--dark-brown);
      font-size: 1.8rem;
    }

    & div {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    & article {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .col {
        height: 100px;
        width: 40px;
        background-color: var(--soft-red);
        border-radius: 5px;
        margin-bottom: 0.4rem;

        display: flex;
      }

      & p {
        font-size: 1rem;
        color: var(--dark-brown);
        margin-bottom: 2rem;
      }

      /* &:nth-child(2) .col {
        height: 200px;
      } */
    }

    & footer {
      border-top: 2px solid var(--cream);
      padding-top: 2rem;

      display: flex;
      justify-content: space-between;

      & div {
        display: flex;
        flex-direction: column;

        &:first-child {
          & span {
            font-size: 3rem;
            font-weight: 700;
          }

          & p {
            text-align: left;
            width: 100%;
          }
        }

        &:nth-child(2) {
          & span {
            font-weight: 700;
            text-align: right;
            width: 100%;
          }
          align-items: center;
          justify-content: center;
        }

        & span {
          color: var(--dark-brown);
        }

        & p {
          color: var(--medium-brown);
        }
      }
    }
  }
}
